/* Movie Container*/
.movie-container {
  min-height: 100vh;
  background-color: #131313;
}

/* Loading */

.movies-loader-container {
  height: calc(100vh - 101px);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero */

.movie-details-hero {
  min-height: 427px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;

  display: flex;
  flex-direction: column;
}

.movie-details-hero::before {
  content: '';

  position: absolute;
  inset: 0;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(19, 19, 19, 0.7) 70%,
    #131313 100%
  );
}

.movie-details-content {
  position: relative;
  z-index: 1;

  margin-top: auto;
  padding: 24px;

  color: #ffffff;
}

.movie-title {
  font-family: HK Grotesk;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0px;
}

.movie-metadata {
  display: flex;
  align-items: center;
  gap: 15px;
}

.duration,
.certificate,
.release-year {
  color: #ffffff;

  font-family: HK Grotesk;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
}

.certificate {
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 2px 8px;
}

.movie-overview {
  max-width: 500px;
  font-family: HK Grotesk;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.movie-details-content button {
  width: 80px;
  height: 40px;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

/* Movie Details*/

.movie-details-cards-container {
  padding: 15px 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.movie-details-card-list-container {
  padding: 0;
  list-style: none;
  margin: 5px 0;
}

.movie-details-cards-label {
  margin: 0;
  color: #64748b;
  font-family: HK Grotesk;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
}

.movie-details-list,
.movie-details-value {
  font-family: HK Grotesk;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #ffffff;
}

.movie-details-value {
  margin: 5px 0;
}

/* Similar Movies Suggestion Container */
.similar-movies-suggestion-container {
  padding: 15px 24px;
}

.similar-movies-suggestion-title {
  font-family: HK Grotesk;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #ffffff;

  margin-top: 0;
}

.similar-movie-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 15px;
}

.similar-movie-img {
  width: 90px;
  height: 64px;
  opacity: 1;
  border-radius: 8px;
}

/* Failure */

.failure-view-container {
  height: calc(100vh - 75px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

@media screen and (min-width: 768px) {
  .movie-details-hero {
    min-height: 605px;
  }

  .movie-details-content {
    padding: 50px;
  }

  .movie-details-cards-container,
  .similar-movies-suggestion-container {
    padding: 25px 50px;
  }

  .movie-title {
    font-size: 48px;
  }

  .duration,
  .certificate,
  .release-year {
    font-size: 18px;
  }

  .movie-overview {
    font-size: 20px;
  }

  .movie-details-cards-container {
    justify-content: space-between;
  }

  .movie-details-cards-label {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
  }

  .movie-details-list,
  .movie-details-value {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
  }

  .movie-details-value {
    margin: 5px 0;
  }

  .similar-movies-suggestion-title {
    font-size: 24px;
  }

  .similar-movie-img {
    width: 255px;
    height: 170px;
    border-radius: 8px;
  }
}
